/* Réinitialisation des marges et des rembourrages pour le corps */
body {
    margin: 0;
    padding: 0;
}



.header .container{
    display: flex;
    padding-left: 80px;
height: 60px;
position: fixed;
background-color: #ffffff;
justify-content: space-around;
width: 100%;}
ul li a {
    text-align: right;
    justify-content: space-between;

}
.container{
  padding-top: 10px;
  
}
.header .container .nav a {
   margin:10px;
   text-decoration: none;
  
} 
nav ul {
    list-style-type: none;
    
  }
  nav li {
    display: inline;
    margin-right: 50px; /* Espacement entre les éléments de liste (ajustez selon vos besoins) */
    
  }

.spam4{
    color:grey;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.spam3{
    color:#00cc99;;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}






/* Style de la première section */
.premiere-section {
    text-align: center; /* Centre le contenu horizontalement */
    padding: 20px; /* Ajoute de l'espace autour du contenu */
    background-color: blanch;
    
}

/* Style de l'icône */
.icone img {
    margin-top: 150px;
    max-width: 100px; /* Ajustez la largeur de l'icône selon vos besoins */
    height: auto; /* Maintient le rapport hauteur-largeur de l'icône */
}

/* Style du titre h1 */
.premiere-section .titre-h1 {
    font-size: 40px; /* Ajustez la taille de la police selon vos besoins */
    margin-top: 20px; /* Marge supérieure pour espacer le titre du contenu précédent */
    color:#00cc99;

}

/* Style des paragraphes */
.premiere-section .paragraphes {
    display: flex; /* Utilisation de Flexbox pour aligner les paragraphes horizontalement */

    margin-top: 20px; /* Marge supérieure pour espacer les paragraphes du titre */
    margin-left: 130px;
    font-size: 20px;
}



/* Style des trois divs */
.trois-divs {
    display: flex; /* Utilisation de Flexbox pour aligner les divs horizontalement */
    justify-content: center; /* Centre les divs horizontalement */
    margin-top: 20px; /* Marge supérieure pour espacer les divs des paragraphes */
  
}

.trois-divs .div1 {
    background-color:#00cccc;
    width: 300px; /* Ajustez la largeur des divs selon vos besoins */
    padding: 10px; /* Ajoute de l'espace intérieur aux divs */
     /* Centre le contenu des divs horizontalement */
    margin: 0 10px; /* Ajoute de l'espace horizontal entre les divs */
    border-radius: 10px;
    height: 350px;
    padding-top: 40px;
    text-align: left;
    font-size: 30px;
    color:blanchedalmond;
}


.trois-divs .div2 {
    background-color: #6699cc;
    width: 300px; /* Ajustez la largeur des divs selon vos besoins */
    padding: 10px; /* Ajoute de l'espace intérieur aux divs */
     /* Centre le contenu des divs horizontalement */
    margin: 0 10px; /* Ajoute de l'espace horizontal entre les divs */
    border-radius: 10px;
    height: 350px;
    padding-top: 40px;
    text-align: left;
    font-size: 30px;
    color:blanchedalmond;
}

.trois-divs .div3 {
    background-color: #333333;
    width: 300px; /* Ajustez la largeur des divs selon vos besoins */
    padding: 10px; /* Ajoute de l'espace intérieur aux divs */
     /* Centre le contenu des divs horizontalement */
    margin: 0 10px; /* Ajoute de l'espace horizontal entre les divs */
    border-radius: 10px;
    height: 350px;
    padding-top: 40px;
    text-align: left;
    font-size: 30px;
    color:blanchedalmond;
}
/* Style du titre en gras */
.titre-bold {
    font-size: 30px; /* Texte en gras */
}


.premiere-section .div-tableau {
display: flex;
align-items:center;
margin-left: 150px;

}
.premiere-section .div-tableau p{
    
    color:#00cc99;;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style:inherit;
    font-size: 30px;
}
/* Style du tableau */
.tableau {
    margin-top: 20px; /* Marge supérieure pour espacer le tableau des divs */
    margin-left: auto; /* Centre le tableau horizontalement */
    margin-right: auto; /* Centre le tableau horizontalement */
    border-collapse: collapse; /* Fusionne les bordures des cellules */
  
} 

.tableau td {
    border: none; /* Ajoute des bordures aux cellules du tableau */
    padding: 8px; /* Ajoute de l'espace intérieur aux cellules du tableau */
    text-align: center; /* Centre le contenu des cellules horizontalement */
}
.a1{
    text-decoration: none;
    font-size:20px;
    color:grey;
}














/* Style de la deuxième section */
.deuxieme-section {
      /* Utilisation de Flexbox pour aligner les divs horizontalement */
    justify-content: space-around; /* Espacement égal entre les divs */
    padding-left: 200px; /* Ajoute de l'espace autour du contenu */
    padding-top: 50px;
    padding-right: 50px;
    background-color:grey; ;
}
.deuxieme-section .div img{
    width: 300px;
    height: 300px;
}
/* Style des divs */
.div {
    text-align: center; /* Centre le contenu horizontalement */
    flex-basis: 30%; /* Ajustez la largeur des divs selon vos besoins */
}
.div11{ 
    justify-content: space-between;
    display: flex;
}
.div22{
    display: flex;
     justify-content: space-between;
}
/* Style du titre h1 */
.titre-h1 {
    font-size: 24px; /* Ajustez la taille de la police selon vos besoins */
    margin-top: 10px; /* Marge supérieure pour espacer le titre du paragraphe */
}



/* Style des paragraphes */
.paragraphe {
    margin-top: 10px; /* Marge supérieure pour espacer le paragraphe du titre */
}

/* Style des icônes */
.div11 img {
    width: 300px; /* Ajustez la largeur des icônes selon vos besoins */
    height: 300px; /* Maintient le rapport hauteur-largeur de l'icône */
}
 .div22 img {
    width: 300px; /* Ajustez la largeur des icônes selon vos besoins */
    height: 300px; /* Maintient le rapport hauteur-largeur de l'icône */
}










/* Style de la troisième section */
.troisieme-section {
    text-align: center; /* Centre le contenu horizontalement */
    padding: 20px; /* Ajoute de l'espace autour du contenu */
}

/* Style du conteneur */
.conteneur {
    text-align: center; /* Centre le contenu horizontalement */
}

/* Style du titre h1 */
.titre-h1 {
    font-size: 24px; /* Ajustez la taille de la police selon vos besoins */
    margin-top: 20px; /* Marge supérieure pour espacer le titre du paragraphe */
}

/* Style du paragraphe */
.paragraphe {
    font-size: 16px; /* Ajustez la taille de la police selon vos besoins */
    margin-top: 10px; /* Marge supérieure pour espacer le paragraphe du titre */
}









